// main: ../style.less

.modal {
	opacity: 0;
	visibility: hidden;

	width: 100%;
	height: 100%;
	padding: 1rem;
	filter: blur();
	background: fade(#000, 70%);
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);

	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 1000;

	transform: translate(-50%, -50%);

	overflow: auto;

	transition: .2s linear;

	display: flex;
	
	&.hide {
		opacity: 1;
		visibility: visible;
		display: flex;
	}
}


.modal__dialog {
	width: 100%;
	max-width: 1200px;
	margin: auto;

	background-color: #fff;
	position: relative;

	&--sm {
		width: 100%;
		max-width: 900px;
	}

	.close {
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 1;
		cursor: pointer;

		transition: transform .2s linear;

		&:hover {
			transform: rotate(90deg);
		}
	}

}