// main: ../style.less

.intro {
	padding-top: 60px;

	@media @tablet {
		padding-top: 100px;
	}
}

.intro__inner {
	display: flex;
	justify-content: space-between;

	background: url(../img/intro__photo/symbols.png) right bottom no-repeat;

	padding-bottom: 8rem;
	padding-top: 6.6rem;
	border-bottom: 1px solid fade(@dark-grey, 30%);

	position: relative;

	@media @tablet {
		padding-bottom: 3rem;
		padding-top: 4rem;

		background-size: 390px auto;
	}

	@media @mobile {
		background-size: 290px auto;
		padding-top: 1.5rem;
		z-index: 999;
	}

	@media @mobile-sm {
		background-size: auto;
	}
}

.intro__content {
	width: 50%;

	@media @mobile-sm {
		width: 100%;;
	}
}

.intro__title {
	font-weight: bold;
	font-size: 3rem;
	margin-bottom: 4px;

	@media @tablet {
			font-size: 2rem;
		}
	

	span {
		font-weight: 200;
		font-size: 2.13rem;

		@media @tablet {
			font-size: 1.5rem;
		}
	}
}

.intro__subtitle {
	font-weight: 400;
	font-size: 1.2rem;
	color: fade(@black, 70%);
	margin-bottom: 26px;
}

.intro__photo {
	position: absolute;
	right: 0;
	bottom: -1px;
	z-index: 1000;

	@media @tablet {
		width: 360px;
	}

	@media @mobile {
		width: 290px;
		z-index: 999;
	}

	@media @mobile-sm {
		display: none;
	}

}