// main: ../style.less

.nav {
	display       : flex;
	flex-wrap: wrap;
	text-transform: uppercase;
	height        : 100%;
	background-color: #fff;
	position: relative;

	@media @mobile {
		visibility: hidden;
		opacity: 0;
		text-align: center;

		justify-content: center;

		position: absolute;
		top: 99%;
		left: 0;

		width: 100%;
		height: auto;

		padding-bottom: 1rem;
		padding-top: 1rem;

		transition: all .3s linear;
		background-color: #fff;

		&.show {
			opacity: 1;
			visibility: visible;
			background-color: #fff;
					
			box-shadow: 0px 11px 10px fade(#333, 30%);
		}
	}
}

.nav__link {
	text-decoration: none;
	color          : inherit;
	font-weight    : bold;
	font-size      : 0.875rem;
	position       : relative;

	margin: 0.66rem 2rem;
	cursor: pointer;

	@media @tablet {
		font-size: 0.775rem;
		margin: 0.66rem 1.5rem;
	}

	&.active::before {
		width: 100%;

	}

	&.btn.active::before {
		width: 0;
	}

	&::before {
		content         : "";
		position        : absolute;
		top             : 100%;
		left            : 0;
		width           : 0;
		height          : 2px;
		background-color: @black;

		transition: width .2s linear;

		
	}

	&:hover:not(.btn) {
		&::before {
			width: 100%;

			@media @mobile {
				transition: none;
			}
		}
	}

	&.btn {
		border          : 2px solid @black;
		border-radius   : 20px;
		margin          : 0;
		padding         : 0.66rem 2rem;
		background-color: #fff;
		color           : @black;
		transition      : background .2s linear, color .2s linear;
		display: inline-block;

		&:hover {
			background-color: @black;
			color           : #fff;
			box-shadow: 2px 2px 10px fade(#000, 24%);
		}
	}

	@media @mobile{
		&:not(:last-child) {
			width: 100%;	
		}
		
	}
}

.button__wrap {
	display: flex;
		
}